header{
  nav {
    min-height: 70px;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  }